.ChangePasswordContainer {
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 36px;
  margin-bottom: 20px;
  text-decoration: none;
}

.ChangePasswordContainer:visited {
  color: black;
}

.ChangePasswordContainer:hover {
  background-color: #c4c9c1;
}

.Icon {
  margin: auto 83px;
}
