.Container {
  background-color: #f3f4f4;
}

.RegistrationContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 200px;
}

.RegistrationHeader {
  display: flex;
  margin: 10px 20px;
}

.RegistrationBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  border-radius: 36px;
}

.RegistrationBody_Header {
  margin-top: 20px;
  margin-left: 50px;
}

.RegistrationBody_Content {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 250px;
}

.RegistrationBody_Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 1200px) {
  .RegistrationBody_Content {
    gap: 120px;
  }
  .RegistrationContainer {
    margin: 10px 120px;
  }
}

@media (max-width: 1009px) {
  .RegistrationBody_Content {
    flex-direction: column;
    gap: 50px;
  }

  .RegistrationContainer {
    margin: 10px auto;
  }
}
