.NewContainer {
  padding: 30px 15px;
}

.HeaderContainer {
  text-align: center;
  margin: 0 auto 40px;
}

.ContentContainer {
  padding-left: 25px;
  padding-right: 25px;
}

span {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #999;
}

h2 {
  font-family: Playfair Display, serif;
  font-size: 30px;
}

p {
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 20px;
  color: #666;
  font-weight: 300;
}
