.NewContainer {
  padding: 30px 15px;
  margin: 0 170px;
  background-color: #f3f4f4;
}

.HeaderContainer {
  text-align: center;
  margin: 0 auto 40px;
}

.ContentContainer {
  padding-left: 25px;
  padding-right: 25px;
}

.TurnbackLink {
  text-decoration: none;
}

.Footer {
  padding: 15px 15px;
  margin: 25px auto;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
}

.TurnbackLinkContainer {
  display: flex;
  margin-right: 166px;
}

.Date {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #999;
}

h2 {
  font-family: Playfair Display, serif;
  font-size: 30px;
}

p {
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 20px;
  font-weight: 300;
}

.ImageContainer {
  text-align: center;
}

.PostImage {
  object-fit: cover;
  width: 80%;
  height: 500px;
}

.Content {
  color: black;
}
