.ChangePasswordWrapper {
  height: 100vh;
  background-color: #f3f4f4;
}

.ChangePasswordContainer {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}

.InputElement {
  display: block;
  text-align: left;
}

.InputType {
  margin-bottom: 5px;
}

.PasswordRequirement {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 10px;
}

.PasswordRequirement {
  color: #666;
}

@media (min-width: 600px) {
  .ChangePasswordContainer {
    width: 500px;
  }
}
