.ListNews {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  justify-content: center;
  grid-gap: 50px;
}

.New {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.Error {
  color: #666;
}
