.Button {
  margin-left: 5px;
  border-radius: 6px 6px;
  background-color: #e8e9e7;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  margin: 20px auto;
}

.Button:hover {
  background-color: #989c95;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: #5a5c58;
}

.Danger {
  color: #944317;
}

.Custom {
  background-color: #07627e;
}

.Custom1 {
  width: fit-content;
  margin: auto 0;
  color: #a8a8a8;
  background: none;
}
