.Button {
  margin-left: 5px;
  border-radius: 6px 6px;
  background-color: #d6d8d4;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  margin: 20px auto;
}

.Button:hover {
  background-color: #989c95;
}

.Button:disabled {
  color: #848383;
  cursor: not-allowed;
}

.Success {
  color: #5a5c58;
}

.Danger {
  color: #944317;
}

.Custom {
  background-color: #07627e;
}

.Custom1 {
  width: fit-content;
  margin: auto 0;
  color: #a8a8a8;
  background: none;
}

.RegisterButton-Cancel {
  color: #07627e;
}

.RegisterButton-Next {
  background: #07627e;
}

.CheckInButton {
  margin-top: -3px;
  margin-left: 7px;
  background: #07627e;
  color: white;
}

.HistoryCheckinButton {
  background: #07627e;
  color: white;
}
