.ItineraryWrapper {
  background-color: #f3f4f4;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ItineraryHeader {
  display: flex;
  margin: 10px 300px;
}

.ItineraryRecords {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  border-radius: 36px;
  margin: 0 300px;
  margin-bottom: 20px;
}

.ItineraryRecord_Content {
  display: flex;
  flex-direction: row;
}

.Depature {
  display: flex;
  flex-direction: column;
}
