.ItineraryWrapper {
  background-color: #f3f4f4;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ItineraryHeader {
  display: flex;
  margin: 10px 280px;
}

.ItineraryRecords {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  border-radius: 36px;
  margin: 0 225px;
  margin-bottom: 20px;
}

.ItineraryRecord_Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 35px 30px;
}

.Depature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Arrow {
  width: 420px;
  margin: auto 25px;
}

.Destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.EditAndDelete {
  display: flex;
  flex-direction: column;
  margin: auto 39px;
  gap: 5px;
}
