.FgPasswordContainer {
  height: 100vh;
  background-color: #f3f4f4;
}

.FgPassword {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}

.InputElement {
  display: block;
  text-align: left;
}

.InputType {
  margin-bottom: 5px;
}

@media (min-width: 600px) {
  .FgPassword {
    width: 500px;
  }
}
