.LoginContainer {
  height: 100vh;
  background-color: #f3f4f4;
}

.Login {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}

.InputElement {
  display: block;
  text-align: left;
}

.InputType {
  margin-bottom: 5px;
}

.ForgotPassword {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.PasswordFeild {
  display: flex;
  position: relative;
}

.ShowPasswordIcon {
  height: fit-content;
  position: absolute;
  top: 38.5%;
  right: 3%;
  left: 93%;
}

.ShowPasswordIcon:hover {
  cursor: pointer;
}

.ForgotPasswordLink {
  text-decoration: none;
}

.RegisterLink {
  text-decoration: none;
}

.ForgotPasswordLink:visited {
  color: rgb(126, 115, 115);
}

.ForgotPasswordLink:link {
  color: rgb(126, 115, 115);
}

.RegisterLink:visited {
  color: rgb(126, 115, 115);
}

.RegisterLink:link {
  color: rgb(126, 115, 115);
}

.LoadingModal {
  background: none;
  border: none;
  box-shadow: none;
}

@media (min-width: 600px) {
  .Login {
    width: 500px;
  }
}
