.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

.ProfileContainer {
  display: flex;
}

.ProfileIcon {
  margin-top: 17px;
  margin-right: -12px;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}
