.Container {
  background-color: #f3f4f4;
  height: 100vh;
}

.HealthConditionsAndSymtompsContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 300px;
  overflow-y: auto;
}

.HAndSHeader {
  display: flex;
  margin: 10px 20px;
}

.HAndSBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  border-radius: 36px;
}

.HAndSBody_HC_Header {
  /* margin-top: 20px;
  margin-left: 50px; */
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.HAndSBody_HC_Content {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 250px;
}

.MuiFormControlLabel-label {
  font-size: 50px;
}

.HAndSBody_S_Header {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.HAndSBody_S_Content {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
}

.SymtompWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.H3Tag {
  margin-top: 10px;
  margin-bottom: 10px;
}

.RegistrationBody_Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 1297px) {
  .HAndSBody_HC_Content {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    flex-wrap: nowrap;
    gap: 0;
  }
}

@media (min-width: 1600px) {
  .HealthConditionsAndSymtompsContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 451px;
  }
}
