.Container {
  background-color: #f3f4f4;
  height: 100vh;
}

.HealthConditionsAndSymtompsContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 200px;
}

.HAndSHeader {
  display: flex;
  margin: 10px 20px;
}

.HAndSBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  border-radius: 36px;
}

.HAndSBody_HC_Header {
  margin-top: 20px;
  margin-left: 50px;
}

.HAndSBody_HC_Content {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 250px;
}

.MuiFormControlLabel-label {
  font-size: 50px;
}

@media (max-width: 1200px) {
  .HAndSBody_HC_Content {
    gap: 120px;
  }
  .HealthConditionsAndSymtompsContainer {
    margin: 0 120px;
  }
}

@media (max-width: 1009px) {
  .HAndSBody_HC_Content {
    flex-direction: column;
    gap: 50px;
  }

  .HealthConditionsAndSymtompsContainer {
    margin: 0 auto;
  }
}
